<nav class="navbar navbar-inverse navbar-fixed-top">
<!--  -->
  <div class="container-fluid">
    <div class="navbar-header">
<!--       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#">MTGO</a>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Script</a></li> -->
        <li><a href="/battle/">Construction</a></li>
<!--         <li><a href="/coverage/fan">Coverage</a></li> -->
<!--         <li class="dropdown">
                <a href="/coverage/fan" class="dropdown-toggle" data-toggle="dropdown">
                    Coverage <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/coverage/fan">FAN</a></li>
                    <li><a href="/coverage/wifi">WIFI</a></li> -->
<!--                     <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li> -->
        <li><a href="#">Seal</a></li>
        <li><a href="/trade/">Trade</a></li>
        <li><a href="/battle/history/">Battle Histroy</a></li>
<!--         <li><a href="/resultviewer/view">Result Viewer</a></li>
        <li><a href="/loganalysis/">Log Analysis</a></li> -->
      </ul>
<!--       <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul> -->
<!--       <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form> -->
    </div>
   </div>
</nav>
